.contenedor{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width:320px)
{
    .contenedor{
        grid-template-columns: 1fr;
    }
}

@media (min-width:321px) and (max-width:768px)
{
    .contenedor{
        grid-template-columns: 1fr 1fr;
    }
}